In [1]:
import pandas as pd
from bs4 import BeautifulSoup

with open("./file_name.html", 'r', encoding="utf8") as f:
    contents = f.read()
    soup = BeautifulSoup(contents, 'html.parser')

container = soup.body.find_all("div", id="page-container")[0]

In [ ]:
https://stackoverflow.com/questions/34660417/beautiful-soup-if-class-contains-or-regex
BeautifulSoup supports CSS selectors which allow you to select elements based on the content of particular attributes. This includes the selector *= for contains.
The following will return all div elements with a class attribute containing the text 'listing-col-':

for EachPart in soup.select('div[class*="listing-col-"]'):
    print EachPart.get_text()

In [2]:
all_txt = []
for EachPart in container.select('div[class*="t m0 "]'):
    all_txt.append(EachPart.get_text())
    
all_txt[100:105]

['— Moi aussi.',
 'Nice to meet you. ',
 '— Nice to meet you too.',
 '• Je suis content de te rencontrer.',
 'It’s good to see you.']

In [3]:
fr, en = [], []
for i, t in enumerate(all_txt):
    if '• ' in t:
        fr.append(t[2:])
        en.append(all_txt[i+1])
        
if len(fr) == len(en):
    df = pd.DataFrame(list(zip(fr, en)), columns=['fr','en']) 

df.head()

                         fr                   en
0                 Bonjour !        Hi! / Hello!
1                 Bonsoir !        Good evening.
2      Comment allez-vous ?  — Très bien, merci.
3                 Et vous ?       How about you?
4  Ravi de vous rencontrer.         — Moi aussi.

In [4]:
df['en'] = df['en'].apply(lambda x: x[2:] if '— ' in x else x)
df.head()

                         fr                 en
0                 Bonjour !      Hi! / Hello!
1                 Bonsoir !      Good evening.
2      Comment allez-vous ?  Très bien, merci.
3                 Et vous ?     How about you?
4  Ravi de vous rencontrer.         Moi aussi.

In [5]:
df.tail()

,fr,en
830,À qui est ce livre ?,Whose book is this?
831,Il y avait trois mille personnes.,There were three thousand people.
832,Il y avait des centaines de personnes.,There were thousands of people.
833,"D’une manière générale, ils se forment en ajou...",nombre cardinal. On les écrit ainsi en abrégé ...
834,"Exceptions : 1, 2 et 3 (ainsi que tou...","chiffres). On les écrit ainsi en abrégé : 1st,..."

In [6]:
df = df.iloc[:-2]
df.tail()

,fr,en
828,Combien de temps dure le film ?,How long is the film?
829,Vous allez au cinéma tous les combien ?,How often do you go to the cinema?
830,À qui est ce livre ?,Whose book is this?
831,Il y avait trois mille personnes.,There were three thousand people.
832,Il y avait des centaines de personnes.,There were thousands of people.

In [7]:
df.to_csv('outup.csv', index=False)